### Python List Questions

Python list is the most widely used data structure, and a good understanding of it is necessary.

The below questions include concepts of:
* list operations and manipulations
* list functions
* list slicing
* list comprehension

In [98]:
# Exercise 1: Reverse a list in Python

list1 = [100, 200, 300, 400, 500]
list1.reverse()
print("Reversed list:",list1)

Reversed list: [500, 400, 300, 200, 100]

In [ ]:
# Exercise 2: Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
res = list(map(lambda x,y: x+y, list1,list2))
print(res)

['My', 'name', 'is', 'Kelly']

In [ ]:
# Exercise 3: Turn every item of a list into its square

numbers = [1, 2, 3, 4, 5, 6, 7]
res = [num**2 for num in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [80]:
# Exercise 4: Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
res = [x+y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# Exercise 5: Iterate both lists simultaneously

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

'''
Expected output:
10 400
20 300
30 200
40 100
'''

for x,y in zip(list1, list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

In [ ]:
# Exercise 6: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

res = [l for l in list1 if l!=""]
ans = list(filter(None,list1))

print("My approach -> using a for loop with conditional:",res)
print("Pynative approach -> using filter() method: ",ans)

My approach -> using a for loop with conditional: ['Mike', 'Emma', 'Kelly', 'Brad']
Pynative approach -> using filter() method:  ['Mike', 'Emma', 'Kelly', 'Brad']

In [74]:
# Exercise 7: Add new item to list after a specified item

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print("Before appending 7000 to the nested list:",list1)
list1[2][2].append(7000)
print("After appending 7000 after 6000:",list1)

Before appending 7000 to the nested list: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
After appending 7000 after 6000: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [78]:
# Exercise 8: Extend nested list by adding the sublist

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
print("List before extending sub_list to list1:",list1)
# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print("List after extending sub_list to list1:",list1)

List before extending sub_list to list1: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
List after extending sub_list to list1: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [79]:
# Exercise 9: Replace listâ€™s item with new value if found

list1 = [5, 10, 15, 20, 25, 50, 20]
temp = list1.index(20)
list1[temp] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [81]:
# Exercise 10: Remove all occurrences of a specific item from a list.

list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
  list1.remove(20)
print(list1)

[5, 15, 25, 50]